[2013-01-29 02:58] tpitale opened #1 "Resource usage for large mailboxes"

[2013-02-08 15:03] tpitale opened #2 "Support sending in format that can be received by griddler"
https://github.com/thoughtbot/griddler accepts POST in a format from sendgrids parse api hooks. When configured, mail_room should be able to send in that format.

[2013-02-28 20:16] tpitale opened #3 "Add example upstart script"
http://code.alexreisner.com/articles/upstart.html

[2013-11-03 18:06] TimSullivan opened #7 "Stopped responding, generated a ThreadError when terminated"
I was running mail_room overnight, to test it, outputting to logger. It worked for awhile, but when I woke up in the am, it hadn't pulled in any of the new messages that had come in. Ctrl+C and I got this error:

[code]

[2014-01-07 22:51] #7 closed, assigned to nobody

[2014-01-16 02:17] ppppppachyderm opened #8 "Possible problem with postback delivery method in Rails apps"
Logging works as a delivery method, but postback doesn't seem to send POST request to locally running Rails app (no trace of any POST request in the console/log).

See https://github.com/ppppppachyderm/mail_room_rails_example for attempted implementation and http://stackoverflow.com/questions/21138237/mail-room-with-ruby-on-rails for additional details.

I've been trying the Rails 4.0.2 barebone i

[2014-01-16 04:04] #8 closed, assigned to tpitale

[2014-01-19 21:25] #1 closed, assigned to tpitale

[2014-01-23 13:24] #2 closed, assigned to nobody

[2014-11-17 13:00] domness opened #10 "IDLE not working correctly"
I've been using this gem for a few days now, and it seems that it works for maybe 30 minutes, but then it seems to stop noticing any new emails coming through. Could it be possible that IDLE isn't working as intended? Restarting mail_room then correctly pulls in emails for another period of time until it stops again.

After seeing that emails weren't coming through, I checked mail_room was still r

[2014-11-22 00:05] tpitale opened #11 "Do not silently swallow disconnects from the server in the idling thread."

[2014-11-22 00:07] tpitale opened #12 "Reconnect to IMAP if the server disconnects us"
If the server disconnects, we get a connection closed `Net::IMAP::Error`. Rather than failing out, or silently swallowing it, we should reconnect.

[2014-11-22 00:08] #10 closed, assigned to nobody

[2014-11-22 03:40] tpitale opened #13 "IMAP should be properly disconnected when stopping mail room"

[2014-11-24 00:34] #11 closed, assigned to tpitale

[2014-11-24 00:36] #12 closed, assigned to nobody

[2014-11-24 21:31] tpitale opened #15 "Handle EOFError"
[code]

[2014-12-05 02:17] matte opened #16 "When script is restarted or server rebooted messages can be missed"
Not sure if this is in scope for this awesome gem.  Could mail query IMAP for NEW instead of UNSEEN?  this would have the upside of catching missed messages and the downside of reading all the messages in a previously used mailbox.

[2014-12-13 13:02] rohitpbhore opened #17 "Using Rails '3.2.21' Ruby '2.0.0-p0'"
When I got mail into my inbox I am not able to see anything else into the logs except below..

[code]

[2014-12-28 20:28] #17 closed, assigned to nobody

[2015-03-19 00:03] tbreier commented on #15
First of all, thank you @tpitale for this gem! :smile:

Second, I have seen this error appear as well. I am not able to reproduce it either though...

[2015-03-19 02:15] tpitale commented on #15
Thanks for reporting @tbreier! I'll try to implement what I proposed doing shortly. How does that work for you?

[2015-03-19 17:37] tbreier commented on #15
Sure, no problem!

I hadn't attached my stacktrace, but it's the same as posted above:
[code]

FYI, we are also doing something completely unrelated to mail_room in our application using IMAP, and we also got the EOFError there once (however while fetching, not searching). Might really be an issue with the IMAP lib. Oh and all these errors occured with Gmail.

[code]

How about a solution like thi

[2015-03-19 17:39] tpitale commented on #15
Yeah … I think we'll start with a wide rescue and restart … then go narrower to see if we can localize the rescue/retry.

I'll try to get to it this weekend.

[2015-03-19 17:42] tbreier commented on #15
Ok great, thank you!

[2015-03-21 16:02] tpitale commented on #16
@matte I'm going to close this, comment if you're still interested in some solution.

[2015-03-21 16:02] #16 closed

[2015-03-21 16:03] tpitale commented on #13
I believe this has been resolved, but since I'm not sure what the original issue was for (nice job, Past Tony) I'll just close it anyway.

[2015-03-21 16:03] #13 closed

[2015-03-21 16:04] #15 closed

[2015-03-21 16:06] tpitale commented on #3
Made a wiki page for this: https://github.com/tpitale/mail_room/wiki/Init-Scripts-for-Running-mail_room Thanks @matte.

[2015-03-21 16:15] #3 closed

[2015-03-21 16:19] tpitale commented on #15
@tbreier @domness I just released v0.3.1. Let me know how that works for you both!

[2015-03-21 16:41] domness commented on #15
Thanks very much!

I'll check it out this week.

On Sat, Mar 21, 2015 at 4:19 PM, Tony Pitale <notifications@github.com>
wrote:

[2015-03-23 18:21] tpitale opened #19 "Configurable IMAP server support"
We should be able to support configuration for non-gmail IMAP servers. I don't think there is any particular thing specific to gmail with IMAP.

Based on the work by @matte in #9.

[2015-03-23 19:01] tpitale opened #20 "Configurable IMAP search command"
By default we use Gmail IMAP's UNSEEN. It may be useful to configure this to be NEW in some cases.

[2015-03-23 21:51] tbreier opened #21 "Encoding issues with Faraday"
I am using mail_room in combination with the `postback` delivery method (hence using `Faraday`). I somehow noticed that emails containing a `%` got "lost" (they were marked as 'seen' in GMail, but the specified `delivery_url` was apparently never called).

I digged a little into it and, by enabling logging for Faraday, confirmed my suspicion that there might be an encoding issue: When an email con

[2015-03-23 21:52] tbreier commented on #15
Looks good, thank you! I assume / hope that the email does not get marked as SEEN before the EOFError occurs.

[2015-03-23 22:32] tpitale commented on #15
This error occurs well before that, so I'm pretty darn sure that won't happen.

[2015-03-23 22:33] tpitale commented on #21
There may be a middleware I can add. Thanks for reporting!

[2015-03-23 22:36] buchgr commented on #21
@tbreier nice investigation! well done!

[2015-03-23 23:26] tbreier commented on #15
Oh, yes of course, you are right :)

[2015-03-23 23:58] tpitale commented on #21
@tbreier is it your rails app that is returning the 400?

I might be able to use settings like: https://github.com/lostisland/faraday#advanced-middleware-usage

[2015-03-24 00:21] tbreier commented on #21
Right, my app is returning the 400. The request doesn't seem to reach Rails itself though (don't see the request happening in the log files). However, there definitely might be an issue with my configuration, because using a test service like http://www.posttestserver.com/ does not have the same problem.

See the gist below, both requests work using http://www.posttestserver.com/, but the second o

[2015-03-24 00:42] tbreier commented on #21
Okay, here is a small Rails app to demonstrate that behavior: https://github.com/tbreier/faraday_test

Just run the server `bin/rails server` and then run the script `ruby faraday_encoding.rb`.

I get the following output for the script:
[code]

And for the Rails Server (notice how the second request doesn't show up here):
[code]

[2015-03-24 00:44] tpitale commented on #20
Resolved by #22

[2015-03-24 00:44] #20 closed

[2015-03-24 00:44] tpitale commented on #19
Resolved by #22

[2015-03-24 00:44] #19 closed

[2015-03-24 01:21] tpitale commented on #21
That's awesome @tbreier thanks! Can you try using `c.request :url_encoded` in your Faraday setup in your test. If that works I'll add it to mail_room. If not, I'll pull everything down and see if I can investigate.

[2015-03-24 01:30] tbreier commented on #21
Of course!
I added `c.request :url_encoded` but it didn't seem to have an effect, unfortunately.
I also added `URI.encode_www_form_component(message)` as a third request, and this works. But not sure if that's the right way to go about this.

[2015-03-24 01:34] tpitale commented on #21
Yeah, I'm not sure why Rails is failing on this … and until we get a better idea of what's going wrong I hesitate to make an encoding change. So strange! Thanks again for all your investigation on this. I will definitely check it out asap.

[2015-03-24 01:43] tpitale commented on #21
Oh wait, I did that test on released gems 1.2.0 of DM. Let me try with masters.

[2015-03-24 01:46] buchgr commented on #21
Thanks @tbreier . Having similar issues but couldn't nail it down exactly. That app of yours is awesome!

[2015-03-24 01:46] tbreier commented on #21
I agree not to rush things, encoding stuff can be tricky and/or lead to unexpected behavior. Curious what you'll find out while investigating!
Oh and thank you again for this gem and for responding so fast! :smile:

[2015-03-24 01:46] tbreier commented on #21
DM?

[2015-03-24 01:49] tpitale commented on #21
Sorry, working on a datamapper issue and got my tabs confused.

[2015-07-24 13:52] tpitale opened #23 "Document usage with Griddler"
https://robots.thoughtbot.com/griddler-is-better-than-ever

[2015-08-19 00:06] tpitale opened #25 "Add quiet CLI flag `-q`"
If `-q` is set, do not raise an error if there is no configuration or configuration is missing the top level mailboxes key.

[2015-08-19 02:15] tpitale opened #28 "Provide way to add new delivery method"
If someone is running this code as a library (rather than just from the CLI) allow them to load and extend the registry of delivery methods available.

This could maybe be done with gems as plugins for each delivery method? Pure speculation.

[2015-08-19 04:16] tpitale opened #31 "Add readme note about using -q with upstart/god/monit/etc"
If `-q` is used, and no configuration is found or the app is misconfigured, it will not run (no mailboxes). This is better than running and sleeping continuously, but it may just cause a process manager to continually try to restart.

Make a note in the readme of this behavior, and about throttling process restarts.

[2015-08-19 04:30] tpitale commented on #25
Resolved in #26.

[2015-08-19 04:30] #25 closed

[2015-08-19 04:32] #31 closed

[2015-09-06 17:57] tpitale opened #38 "Que support"

[2015-09-08 19:14] #38 closed

[2015-09-23 13:54] Javex opened #41 "StartTLS support"
I'm not a ruby guy so I can't implement this myself (but it seems the change would be primitive). My mail server only supports StartTLS (it doesn't acceppt non-encrypted connections and 993 is closed). So to connect to it, the `STARTTLS` upgrade needs to be performed.

From what I gather, `Net::IMAP#starttls` is a simple command to execute after connecting so it would be cool to have an option to

[2015-09-23 14:16] tpitale commented on #41
Hi @Javex, this is a gem (mostly) explicitly for gmail, due to certain gmail-specific behaviors and extensions that google added. I cannot guarantee that this will behave with your mail server in any way.

That being said, if someone wants to implement this as a PR, I'll certainly consider merging it … but, you may just find that mail_room misbehaves in other ways with your mail server.

[2015-09-23 15:09] DouweM commented on #41
@tpitale With this gem now being used in GitLab, we obviously want it to work with any IMAP server, including those using StartTLS :) We have it working with a postfix server (which we also recommend on-premise users use), and haven't seen any strange behavior around Gmail extensions.

I've filed an issue in the GitLab CE issue tracker to add StartTLS support for Reply by email, and following from

[2015-09-23 15:18] tpitale commented on #41
I just have no real way of testing all the different behaviors of other IMAP servers with any consistency. Saying "any" IMAP server gives me a bit of a chill. Glad it works with postfix.

As I said, happy to consider a PR. I might even do it myself if I have time. I'm not saying it shouldn't or can't work with other IMAP servers, I just don't know what sort of guarantee I can offer. I suppose I ca

[2015-09-23 15:19] tpitale commented on #41
Oh, and it looks like the gmail extension I was using (or maybe thinking of using) isn't in the code anymore. I either never finished that work, or deleted it. So, yeah, no reason it shouldn't generally work with IMAP.

[2015-09-23 15:23] DouweM commented on #41
@tpitale IMAP is a standard, so we should be able to support anything that adheres to it :)

[2015-09-23 15:23] tpitale commented on #41
Yeah. Gmail doesn't. That's why I hesitate. :smile:

[2015-09-23 15:24] DouweM commented on #41
@tpitale Lol, fair enough. But I think the subset of IMAP that we use is small enough that it shouldn't be an issue. We already know that we support both Gmail and "regular IMAP" in the form of postfix as it is.

Adding StartTLS support shouldn't affect either :P

[2015-09-23 15:29] tpitale commented on #41
Agreed.

So, back to StartTLS … does anyone know when this should be called? Before login, after login, :shrugs:? The docs aren't exactly clear: http://ruby-doc.org/stdlib-2.0.0/libdoc/net/imap/rdoc/Net/IMAP.html#method-i-starttls

[2015-09-23 15:30] tpitale commented on #41
@Javex do you have a need to support any of the options for starttls (like, disabling verification)?

[2015-09-23 15:31] tpitale commented on #41
This IMAP code is just another example of the truly weird in Ruby's stdlib.

[2015-09-23 15:49] DouweM commented on #41
@tpitale Before login, for sure. The point is that we start unprotected, and then upgrade to TLS, and _then_ do all of the interesting stuff.

[2015-09-24 13:02] #41 closed

[2015-09-24 13:35] tpitale opened #44 "Handle encoding issues from email in JSON-using delivery methods"
Both `Que` and `Sidekiq` dump to json. Encodings other than properly recognized UTF-8 will trip json up.

From @DouweM:
A reproduction of the specific case GitLab users were having trouble with is this:

[code]

Note that in this case, the message was actually UTF-8-encoded, but for some reason Ruby thought it was ASCII-8BIT, and when trying to do `JSON.generate`, it tried to convert this string t

[2015-09-24 15:22] tpitale commented on #44
Relevant to my efforts: http://graysoftinc.com/character-encodings/ruby-19s-string

[2015-09-25 02:37] tpitale opened #45 "Address issues of raised errors on delivery crashing all of mail_room"
MailRoom should not crash when a message or delivery raises an error. The mailbox watcher should be properly supervised such that it simply restarts on that mailbox. Let it fail, and make a new watcher.

[2015-09-25 02:38] tpitale commented on #44
The problem appears to be that ruby simply thinks the message is some encoding that it isn't (could be the version of ruby, or the system encoding, entirely unkown). If we could detect with ruby what the actual encoding was, as suggested in the gitlab issue, we could then `force_encoding` and `encode` to UTF-8. That seems to work reliably.

Now to find a better way for ruby to actually detect the

[2015-09-25 03:00] tpitale commented on #44
Maybe there's a reliable way to get the encoding from the mail headers?

`Content-Type: text/html; charset="UTF-8"`

[2015-09-28 08:24] DouweM commented on #44
@tpitale

Parsing the mail message from within mail_room to get the headers out feels very wrong to me.

[2015-09-28 11:51] tpitale commented on #44
I would agree. Just talking "out loud". :simple_smile:

[2015-10-01 09:22] DouweM opened #46 "Having N mail_rooms on N application servers will result in 1 message being processed N times"
In the case of GitLab, this means every "Reply by email" message would result in N comments being created.

See https://gitlab.com/gitlab-org/gitlab-ce/issues/2870.

@tpitale What's your take on this? Our (@jacobvosmaer and me) solution has mail_room use Redis to keep track of what messages have been processed, so that only one mail_room ever processes a specific message, but this does add complex

[2015-10-01 12:26] tpitale commented on #46
I think we should pass the message id from the IMAP server. Then the receiving application can choose to process a message or not.

Trying to introduce a syncing system to mail room will most likely be a nightmare. And will probably just result in race conditions we may not be able to solve because they are environment specific.

[2015-10-01 12:48] tpitale commented on #46
Better yet, (at least with gmail) there is a message-id header:

`Message-ID: <CAKCQogc=V8w_LuBOoXAeDz8X4q-yqdwxP+8PRM9P0SxH22FRTg@mail.gmail.com>`

If using the mail gem and `Mail.read_from_string`, the object has the `message_id`:

[code]

[2015-10-01 12:55] tpitale commented on #46
Just read over the gitlab issue. I'm still not sure I agree that making mail_room into a distributed system is a good idea. It's certainly more than what I intended.

I'm curious why gitlab isn't just running 1 instance of mail_room? I probably don't understand much about how gitlab is deployed/scaled. But, I presume a share-nothing architecture is more ideal for someone running 48 instances.

[2015-10-01 12:59] tpitale commented on #46
Again, just thinking out loud.

[2015-10-01 13:15] DouweM commented on #46
@tpitale:

This would still leave us with 48 Sidekiq jobs for every single incoming email. This is definitely cleaner, but we would prefer to catch these "duplicates" as early in the process as possible.

I'd refrain from parsing emails in mail_room, and we can't be 100% sure that message IDs are unique, but we could definitely use a hash of the raw message source to function as the unique message

[2015-10-01 13:41] tpitale commented on #46
Sorry, wasn't suggesting that, was just thinking about how easy it is to get message id for the receiving application. This was _before_ I had read the gitlab issue.

[2015-10-01 13:41] DouweM commented on #46
@tpitale Ah, right.

[2015-10-01 13:43] tpitale commented on #46
@DouweM can you tell me more about the way reply-to emails work? How easy/hard is it to create N reply-to email addresses/inboxes? Or, some other method of semi-randomly distributing emails to distinct inboxes, say 1 inbox for each instance of gitlab.

Based on your comment about scaling, that's the best way I can think of. Then, each mail_room instance would only listen to one, non-overlapping, i

[2015-10-01 13:45] tpitale commented on #46
From a user perspective, they have to hit _reply_ anyway, so it's not as if they're typing in the email address. Seems like automatically generated email accounts shouldn't be much of a problem there.

[2015-10-01 13:47] DouweM commented on #46
@tpitale We can't know if the specific setup GitLab runs in allows differences in configuration between instances (i.e. what inbox is read from). Even if it does, the number of GitLab instances should be allowed to be scaled up/down freely, without emails ending up nowhere when the GitLab instances in question is removed. The assumption is that every GitLab instance is identical, and so is the mai

[2015-10-01 13:48] tpitale commented on #46
Ouch.

[2015-10-01 13:48] DouweM commented on #46
@tpitale Yep :(

[2015-10-01 13:49] tpitale commented on #46
I mean … in that case, mail_room isn't going to scale. It's just, sharing an inbox.

[2015-10-01 13:49] tpitale commented on #46
If the instances of postgres/redis/etc are a shared instance. Could mail_room be moved to that?

[2015-10-01 13:52] DouweM commented on #46
@tpitale A server dedicated to running mail_room that has to manage all incoming messages definitely isn't going to scale. At least with one mail_room per GitLab instance, 48 different message can be processed concurrently by 48 different mail_rooms.

If the mailserver is sufficiently performant, like we can expect Gmail to be, all mail_rooms using the same inbox shouldn't be a problem, should it?

[2015-10-01 13:52] DouweM commented on #46
@tpitale It's also harder to get High Availability customers to run a separate machine for just processing reply by email, than it is Postgres/Redis.

[2015-10-01 13:53] tpitale commented on #46
Yeah. Just spitballing.

[2015-10-01 13:53] DouweM commented on #46
@tpitale I know :)

[2015-10-01 13:57] tpitale commented on #46
I guess my point about scaling is that you're going to basically have a single lock/mutex. And there are a ton of issues that will arise from adding that complexity. And doing so in mail_room is basically tying us to the particulars of gitlab's implementation.

For other environments, if I needed to scale, I would probably do one of the things mentioned above.

[2015-10-01 13:58] tpitale commented on #46
I was trying to think of a way to mark the messages in the mailbox using a label as a "lock". But there's no way to guarantee contention and unlocking, etc etc etc.

[2015-10-01 13:59] DouweM commented on #46
@tpitale A lock _for a specific message_, only checked the moment mail_room want to start processing it; different messages will still be processed concurrently by different mail_rooms so the lock shouldn't affect performance too much, and while it's definitely complex, I can't think of any issues this would create.

[2015-10-01 14:00] DouweM commented on #46
@tpitale IMAP may be atomic, but there is no "compare and swap" or anything, so two mail_rooms can't know if they were the one that set the label, if it was already there, or added between there `has_label?` and `set_label` calls.

[2015-10-01 14:00] tpitale commented on #46
Just an example: What happens if the message is failed to process … the lock may get removed, but the message has probably been passed-over by the other mail_rooms.

[2015-10-01 14:01] DouweM commented on #46
@tpitale Failed to process how? MailRoom doesn't do anything interesting, so should "always" succeed in pushing it to Sidekiq.

[2015-10-01 14:01] DouweM commented on #46
@tpitale Anyway, I'm going into a call. Let's continue this discussion later.

[2015-10-01 14:05] tpitale commented on #46
@DouweM maybe we should hop on a call later today. :smile:

I'd definitely consider merging something, as long as it wasn't _required_ (as you could probably guess), and it worked on all delivery methods. It would be nice if the mechanism was abstracted so we could later add other mechanisms like using postgresql advisory locks or something like that.

Let me know if you want to do a call, or just

[2015-10-01 14:08] tpitale commented on #46
Even better, if it didn't even fetch messages that were already being worked on by other instances. Maybe something inside here: https://github.com/tpitale/mail_room/blob/master/lib/mail_room/mailbox_handler.rb#L47-L49

That would greatly reduce the work each instance is doing. Most of what mail_room spends its time is in fetch and delivery.

[2015-10-01 16:19] tpitale commented on #46
@DouweM Sorry I missed the call. I was on standup of my own. Why don't you go ahead with your plan, and let's see how complex it becomes.

[2015-10-01 16:33] DouweM commented on #46
@tpitale I will :)

[2015-10-01 16:33] tpitale commented on #46
Thanks!

[2015-10-03 22:23] sixtyfive opened #47 "It's not possible to run mail_room over SSL, even if the host is localhost"
[code]

[2015-10-03 22:25] tpitale commented on #47
According to the error, your server certificate is not matching.

[2015-10-03 22:28] sixtyfive commented on #47
Because it's for the public-facing domain of the server. One of the many reasons why it really needs to be possible to say "I know what I'm doing (or don't and don't care) and *really* want you to ignore any SSL certificate problems".

[2015-10-03 22:58] tpitale commented on #47
Do you _want_ SSL? You can turn it off for the IMAP server.

[2015-10-03 23:06] tpitale commented on #47
Do you basically want to use verify none?

[2015-10-03 23:12] sixtyfive commented on #47
Sorry if I came over aggressive in any way, that wasn't intended. In this case I don't really want SSL, but the webserver is configured to only accept connections through SSL, even when they're from localhost. So basically, yes, I'd loke to use `verify none`.

[2015-10-03 23:23] tpitale commented on #47
Word, I'll add a setting.

[2015-10-03 23:26] sixtyfive commented on #47
Awesome, thank you! :-)

[2015-10-06 15:09] tpitale opened #50 "Add arbitration to readme"
* scenarios for arbitration
* no guarantee of non-duplicates, just our best effort to reduce
* pre-reqs, aka redis at this time
* advice for handling dups, in case (idempotent)

[2015-10-06 15:35] DouweM commented on #50
Why can't we give that guarantee?

[2015-10-06 15:38] tpitale commented on #50
Covering our bases for the unexpected. Maybe that'll change after gitlab has run arbitration for some time. But, my guess is that we've missed something, as is always the case in distributed systems.

It's mostly as a word of caution, that no system is perfect. E.g., what happens in different failure scenarios (redis goes down, is slow, or simply loses data).

[2015-10-08 01:32] #46 closed

[2015-10-08 13:40] tpitale commented on #47
@sixtyfive I added a PR, can you please test it?

[2015-10-08 13:40] tpitale commented on #50
@DouweM I stubbed out the README changes. Would you mind filling in the configuration. Go ahead and push right to master.

[2015-10-08 13:51] tpitale opened #51 "Accept mailbox configuration for one account directly on the CLI"
If we want to start a simple postback delivery, we could accept the configuration for it from the CLI directly, without the need for a configuration file.

[2015-10-08 13:52] tpitale opened #52 "Create example Rails endpoint"
To further help newcomers, we could add an example of a simple endpoint with auth for the postback delivery method.

[2015-10-09 11:51] DouweM commented on #50
@tpitale Done.

[2015-10-09 12:44] #50 closed

[2015-10-23 17:01] #47 closed

[2015-11-25 05:50] Senorsen commented on #45
+1'd for this, hope it can be fixed soon

[2015-11-25 05:51] tpitale commented on #45
Have you actually seen this issue? I wrote it as a completely hypothetical scenario.

[2015-11-25 12:02] Senorsen commented on #45
@tpitale Yes, I have kept mail_room service running for days. One day a network issue occurred on this machine, after that, I noticed that mail_room service crashed.
P.S. I was using the latest mail_room in GitLab.
See: https://github.com/gitlabhq/gitlabhq/issues/9712

And:
[code]
# ps -ef | grep mail
## (No process in the result)
[code]

[2015-11-25 14:02] tpitale commented on #45
I would suggest in your case to use a process monitor like init or upstart.

[2015-11-25 14:15] tpitale commented on #45
The readme suggests https://github.com/tpitale/mail_room/wiki/Init-Scripts-for-Running-mail_room

[2015-11-25 14:57] tpitale commented on #45
Let's open a new issue to rescue `Errno::ENETUNREACH` cases. Mind opening that @Senorsen.

[2015-11-28 00:31] brodock opened #55 "Redis sentinel support"
Could you include support for defining a sentinel-enabled connection?
redis-rb already support so, all you have to do is pass "sentinels" array of hashes connection param.

Ideally you would change "redis_url" YAML key to just "redis" and accept every redis possible setting:
* url
* host
* port
* password
* db
* namespace
* sentinels

See: https://github.com/redis/redis-rb#sentinel-support

[2015-11-28 00:33] tpitale commented on #55
Will certainly look into it.

[2015-11-28 00:35] brodock commented on #55
please, ping me if you need any help.

[2015-11-28 00:36] tpitale commented on #55
PRs certainly welcome!

[2015-12-07 16:21] Armada651 opened #56 "Incorrectly configured Mailroom uses 100% CPU"
If the Mailroom can't connect to the mailserver due to an SSL error it will keep attempting to connect to it going so far as to dedicate a CPU core to the task of banging the mailserver.

To be precise, the command `/opt/gitlab/embedded/bin/ruby /opt/gitlab/embedded/bin/bundle exec mail_room -c /var/opt/gitlab/gitlab-rails/etc/mail_room.yml` is using 100% CPU.

My system is Ubuntu Server 14.04 and

[2015-12-07 19:28] tpitale commented on #56
You might notice that Runit is the one starting (and restarting) mail_room. This is not a mail_room issue. mail_room will crash (and seemingly be restarted by Runit).

Runit should be able to back off restarts if misconfigured … or fail completely.

[2015-12-07 19:28] #56 closed

[2016-01-03 05:08] brovikov opened #57 "Error: `require': cannot load such file -- charlock_holmes"
After update to last version 0.6.1 - got an error ***cannot load such file -- charlock_holmes***.
It works if I manually add `charlock_holmes` gem to my `Gemfile`. Anybody know why I lost dependency?

[code]

[2016-01-03 05:10] tpitale commented on #57
It's not a lost dependency, it's a new dependency for certain delivery methods to handle UTF-8.

I'll update the docs if it's not already in there.

[2016-01-03 05:12] tpitale commented on #57
Specifically the sidekiq delivery method.

[2016-01-03 05:13] brovikov commented on #57
@tpitale I've got it, thanks!

[2016-02-04 15:40] #57 closed

[2016-04-18 04:44] stanhu opened #61 "mail_room periodically gets stuck communicating with IMAP servers"
This stems from a GitLab issue: https://gitlab.com/gitlab-org/gitlab-ce/issues/13357

It seems a number of users are having issues with mail_room getting stuck and not processing any messages. gdb backtraces are available in the notes.

It looks like there may be two issues here with Ruby's Net::IMAP implementation:

1. May block indefinitely in connect(): https://github.com/rubysl/rubysl-net-imap

[2016-04-19 15:22] tpitale commented on #61
We can set low-level socket timeouts if we could get proper access to the underlying socket. I'm investigating.

http://www.mikeperham.com/2009/03/15/socket-timeouts-in-ruby/

[2016-04-19 15:30] tpitale commented on #61
Looks like setting those socket options probably won't help us without drastic changes to imap anyway (since they use TCPSocket#open in the initializer).

[2016-04-19 15:34] tpitale commented on #61
The problem with both connect and idle in pre-2.3 ruby is that they simply don't use timeouts. The only change to 2.3 was passing the timeout to `wait` here: https://github.com/rubysl/rubysl-net-imap/blob/2.0/lib/rubysl/net/imap/imap.rb#L922

[2016-04-19 15:40] tpitale commented on #61
We already have a monitoring thread that keeps connections alive passed the 30 minute mark that IMAP would normally disconnect.

I think it could be altered to support suggestion 2.

[2016-04-19 15:44] tpitale commented on #61
@stanhu Have you opened issues for any of this with Ruby?

[2016-04-19 15:45] tpitale commented on #61
To fix the idle timeout, I'm going to backport the idle method from 2.3 into mail_room.

[2016-04-19 15:55] tpitale commented on #61
@stanhu @DouweM Would you like the idle timeout to be configurable?

[2016-04-19 15:56] stanhu commented on #61
@tpitale Thanks for looking into this. I think a configurable idle timeout makes sense with a reasonable default.

[2016-04-19 16:23] tpitale commented on #61
I'm setting the default to what @DouweM had set the timeout_thread to sleep for, because anything larger will cause the imap server to disconnect. For most users this will present no change in behavior.

[2016-04-19 17:03] tpitale commented on #61
I'm not sure we can solve the `connect` issue without some really terrible hacks.

Really, the imap library should be using `connect_nonblock`. But to make that change by subclassing would be a nightmare to maintain, and would likely introduce many more bugs than we would be fixing.

I'll keep thinking about this.

[2016-04-25 16:18] stanhu commented on #61
@tpitale Thanks for the latest changes. I think the backport will help a number of users. Can you push out a new release with this?

[2016-04-26 19:49] jirutka opened #63 "Does it work with any IMAP server?"
I’m quite confused. It uses IMAP, so it probably should work with any IMAP server (e.g. Dovecot), but the readme is full of Gmail… Please clarify this, Google is not the only IMAP server in the world.

[2016-04-27 13:22] tpitale commented on #63
Yes.

But it was originally designed for gmail and gmail is the only IMAP server I currently have access to.

[2016-04-27 13:22] #63 closed

[2016-04-30 17:04] tpitale commented on #61
Released v0.7.0 @stanhu.

[2016-05-01 05:41] stanhu commented on #61
Thanks, @tpitale!

[2016-05-02 16:34] #45 closed

[2016-05-11 18:54] gdmalet commented on #61
I just put a fairly detailed report into Gitlab CE [issue 13357](https://gitlab.com/gitlab-org/gitlab-ce/issues/13357) of the IDLE timeout not working in a version of mail_room that I think should be okay. This is while talking to a Cyrus IMAP server, which follows the [RFC 2177](https://tools.ietf.org/html/rfc2177) suggestion, and will shut an idle connection after 30 minutes:

Is this perhaps a

[2016-05-11 22:28] tpitale commented on #61
Which version of mail_room are you _actually_ using?

[2016-05-12 01:03] gdmalet commented on #61
@tpitale Are you suggesting I can't really trust my Gemfile? I'm pretty clueless when it comes to Ruby I'm afraid, but I see this, when `$PWD` is the `vendor` dir at the root of our Gitlab install:
[code]
And our Ruby is:
[code]
The `bundle install` from the [upgrade docs](https://gitlab.com/gitlab-org/gitlab-ce/blob/master/doc/update/8.6-to-8.7.md) runs clean....

Does that confirm 0.6.1?

[2016-05-12 01:40] tpitale commented on #61
There is a version 0.7.0 of mail_room which may contain the fix you're looking for.

[2016-05-12 01:58] gdmalet commented on #61
@tpitale In the morning I'll see if I can work out how to install 0.7.0 on our test server. I've just noticed something odd though, and am still to decide what it means..... This from the logs on the Gitlab server, where `init` is now watching for `mail_room` exiting, and starting a new one:
[code]
Those times are 29 minutes apart, not 30, yet the IMAP server is definitely logging the "idle too lo

[2016-05-12 02:04] tpitale commented on #61
You'll probably need to change the Gemfile. `~>` in your example will restrict to anything like 0.6.x. You'd have to change it to `~> 0.7.0` or just `0.7.0` or `>= 0.7.0`. That said, I've got no idea how that works with gitlab.

[2016-05-12 17:57] gdmalet commented on #61
@tpitale upgrading to mail_room 0.7.0 did not fix my problems. However, I haven't worked out what's going on with the 29 minutes between restarts I commented on above, so something else could be messing this up. I'll keep hunting. Thanks!

[2016-05-12 18:38] tpitale commented on #61
@gdmalet It's possible the error you're receiving still needs to be added to https://github.com/tpitale/mail_room/blob/master/lib/mail_room/mailbox_watcher.rb#L135

I'll need more of that backtrace to determine if that's the case. Either way, it's probably a new issue.

Would you mind opening that?

[2016-06-08 01:54] stanhu opened #65 "Add debug mode to diagnose issues"
It would be really helpful to have a debug mode that shows what mail_room is doing so that we can diagnose whether there is an issue with the configuration, mail_room, or the IMAP server. It can just be a configuration flag (e.g. `-d` or `-v`).

/cc: @godfat

[2016-06-08 10:34] DouweM commented on #65
@ZJvandeWeg's fork has more logging: https://github.com/ZJvandeWeg/mail_room/tree/logger

[2016-06-08 10:57] ZJvandeWeg commented on #65
@DouweM Forgot about that, Ill create a PR on this project. 😄

[2016-06-08 16:12] tpitale commented on #65
@stanhu Can you document specifically what you'd like to see in debugging information? If there is an issue with configuration, we should be failing/erroring in some way. Same goes for the IMAP server itself.

Printing out information may be helpful, but I'm curious to know more about what you're hoping to accomplish.

[2016-06-15 02:40] godfat commented on #61
@tpitale Hi, I am investigating this for a few days now, and finally got some kind of conclusion. No solution yet, but somehow a progress. The summary of the process was located at: https://gitlab.com/gitlab-org/gitlab-ce/issues/13357#note_12443913

But the current conclusion is, it seems whenever mail_room got stuck with Google IMAP (I didn't test with any other IMAP), it's actually failing for e

[2016-06-17 16:02] stanhu commented on #65
@tpitale I think @ZJvandeWeg has a good start there in his branch. Here's what would be helpful from my perspective:

* Trace debugging mode where an admin can see the entire IMAP command/response flow (perhaps scrubbing passwords if necessary)
* Print out configuration at startup (e.g. we noticed a mailbox name was `nil` but mail_room didn't fail in an obvious way)

@godfat, any other things that

[2016-06-17 16:10] godfat commented on #65
@stanhu Yes, any exceptions should be logged, along with backtrace (`take(10)` should be good enough, like in my [testing branch](https://github.com/godfat/mail_room/pull/1/files#diff-87cfbf97fe8ebfa9cf580526abfc9908R183)). For now errors are silently swallowed, which makes it very hard to debug.

[2016-06-17 16:56] tpitale commented on #65
Aside from a 2 specific errors, mail_room is designed to crash on error (let it fail). The error and backtrace are logged to stdout/err and logged by your process manager of choice.

We fix errors as reported.

I'm not sure where you're seeing all errors being swallowed.

[2016-06-17 16:59] godfat commented on #65
To be specific, this one:
https://github.com/tpitale/mail_room/blob/v0.7.0/lib/mail_room/mailbox_watcher.rb#L135

[2016-06-17 17:01] tpitale opened #71 "Raise a configuration error if required fields are missing on a mailbox"
In the `validate!` for a mailbox we should check for required fields like `name`. Raise a `ConfigurationError` otherwise.

[2016-06-17 17:01] tpitale commented on #65
@stanhu there should be an error for something specific like a mailbox `name` being nil. MailRoom crashes if you try to imap `select` a `nil`. But we can be more helpful as to the specific misconfiguration. I've opened issue #71.

[2016-06-17 17:04] godfat commented on #65
More reasoning:

We won't want to crash upon disconnection, and if it's not logged, we won't ever realize that Handler was not using the same imap connection as Watcher. I needs to be logged to debug this issue.

[2016-06-17 17:05] tpitale commented on #65
@godfat That's 2 specific errors. IOError and Net::IMAP errors (including subclasses). That's not all errors.

[2016-06-17 17:10] godfat commented on #65
@tpitale They're called errors and they're exceptions, and without them being logged we cannot diagnose issues. With the introduction of loggers, we could log them with WARN or INFO, that's fine. As long as there's a way to log them.

[2016-06-17 17:10] tpitale commented on #65
@godfat: they are being logged when the process crashes. By design.

[2016-06-17 17:10] tpitale commented on #65
I'm going to run some tests. But <OpenSSL::SSL::SSLError: SSL_write: bad write retry> that you saw would have crashed the process as evidenced by the constant respawning by the process manager as mentioned in #61. That error is not a subclass of either of the errors we rescue.

[code]

Where does your process manager log STDOUT and STDERR to?

[2016-06-17 17:12] tpitale commented on #65
I'm very tempted to go back to letting ALL errors crash mail_room like I had originally designed it to do.

[2016-06-17 17:14] godfat commented on #65
@tpitale Process isn't crashing because they're rescued. I guess we're probably not on the same page, I am not sure which you're referring to?

[2016-06-17 17:16] tpitale commented on #65
Only 2 errors are rescued. The rest are NOT rescued.

[2016-06-17 17:17] tpitale commented on #65
It's not `rescue => e` which is ALL errors/exceptions. It's not just `rescue`.

[2016-06-17 17:17] tpitale commented on #65
If the process wasn't crashing … why was it respawning as per #61?

[2016-06-17 17:20] godfat commented on #65
I was talking about the rescued ones, i.e. IOError and Net::IMAP.

Respawning? Are you referring to: https://github.com/tpitale/mail_room/issues/61#issuecomment-218639890
I was not talking about that, and I think @gdmalet was seeing another issue. I am fine for crashing the process for not expected errors, since we need to fix them anyway.

[2016-06-17 17:25] tpitale commented on #65
@godfat Those are rescued for a reason. See #15 and @DouweM commit on https://github.com/tpitale/mail_room/commit/73ddcf7f. Also See #11 & #12 for reasoning behind reconnecting on IMAP disconnect.

[2016-06-17 17:26] tpitale commented on #65
Previously those disconnects were happening silently, because the idling thread was not aborting on exception. Now that we do that, we can remove the Net::IMAP rescue.

[2016-06-17 17:27] tpitale commented on #65
But, that will crash ALL mailboxes for simple disconnects.

Maybe instead of the Net::IMAP::Error superclass, we can look for a specific kind of disconnect (like BYE) only.

[2016-06-17 17:31] tpitale commented on #65
Nope, we have to rescue `Net::IMAP::Error` because that's what disconnecting in `idle` raises: https://github.com/ruby/ruby/blob/trunk/lib/net/imap.rb#L962 It sucks that that's the superclass for other kinds of errors.

But, we can check for that in the rescue … and re-raise if it's a subclass but not Error itself, maybe.

[2016-06-17 17:32] godfat commented on #65
@tpitale I am not familiar with IMAP enough to say which exceptions we shouldn't rescue, so I am totally ok to rescue all `Net::IMAP::Error`, but indeed we probably shouldn't rescue exceptions for saying that some IMAP commands were not implemented. Actually, I am more leaning toward to rescue all `Net::IMAP::Error` because we need a robust process which could recover itself.

At any rate, they sh

[2016-06-17 17:33] tpitale commented on #65
I'll say it again @godfat: mail_room is designed to crash. If it errors, we want to let it fail. The robustness is handled by tools that are intentionally designed for that. "Recovery" is not in the plan.

[2016-06-17 17:34] tpitale commented on #65
If mail_room crashes THEY ARE LOGGED.

[2016-06-17 17:34] #65 closed

[2016-06-17 17:37] tpitale commented on #65
I'm sorry, but I'm not going to continue talking in circles. I appreciate all the conversation, but I don't believe this is actually a problem in MailRoom.

I'm going to try to:

1. reduce the scope of errors that are rescued to ONLY cover disconnects during idle
2. Rollback IOError to simple EOFError, and check for specific cases

All other errors will, at this time, crash mail_room process, wher

[2016-06-17 17:39] tpitale opened #72 "Attempt to reduce scope of error catching during idle"
Currently, if a disconnect occurs during `idle`, net/imap raises the superclass `Error` that is used for many other errors https://github.com/ruby/ruby/blob/trunk/lib/net/imap.rb#L3599-L3645 for more specific failures.

We only want to reset the connection if it's specifically a disconnect during idle.

[2016-06-17 17:40] tpitale commented on #65
I'll be opening a new PR with my refactoring to watcher and handler. This should further limit the scope of the rescue to ONLY the idle command. Allowing other errors (during fetching of messages) to crash mail_room.

[2016-06-17 17:41] tpitale commented on #65
Specific proof of mail_room crashing for misconfiguration:

[code]

[2016-06-17 17:49] tpitale commented on #72
It's very hard to manually trigger a disconnect. Even disconnecting internet doesn't seem to impact it during idle.

[2016-06-17 17:49] #61 closed

[2016-06-17 17:50] tpitale commented on #61
Let me know if the `handler` reset ends up not fixing the issue. I think at this point, we shouldn't keep adding to this particular issue as it covers too many varied discussions.

[2016-06-17 17:51] tpitale commented on #55
@brodock Is this something you still need? PRs welcome.

I don't personally use redis, so I'm going to close this for now.

[2016-06-17 17:52] tpitale commented on #71
Currently, missing required fields on a mailbox will do weird things like:

[code]

If possible, we should detect these early during start up and provide a helpful message rather than a confusing stack trace.

[2016-06-17 18:04] godfat commented on #61
I haven't done the final examination, but I believe it has fixed the hanging issue. However, it would miss one mail during reset and setup, therefore I applied another patch, located here:

https://github.com/godfat/mail_room/pull/2

I am not yet 100% sure, but after this patch, it seems it's not missing mails during reset and setup. If you're ok with this change, I think it's good to also merge t

[2016-06-17 18:09] tpitale commented on #61
I'll have to look deeper into this. I think my watcher/handler refactoring will correct that issue.

Essentially, the message should not be marked/deleted/whatever unless delivery was a success.

If process_mailbox isn't after the idle, then we could (theoretically) receive a message and stop running without processing.

[2016-06-17 18:10] godfat commented on #61
Looking forward to it :) Thanks for the work.

[2016-06-17 18:32] stanhu commented on #61
Thanks, @tpitale and @godfat!

[2016-06-17 19:15] tpitale opened #74 "Structured logging of arbitration"
It may be valuable to know which decision arbitration is making for a given message uid. Though, it is a boolean option … either it's in the list or not. So, undecided there.

We should log this to STDOUT if configuration for arbitration includes logging: true (or something, undecided). Logs should be in a standardized, structure form that is machine readable (research required for that).

[2016-06-17 19:20] tpitale opened #75 "Transactional SEEN/UNSEEN"
Delivery errors have so far not been a problem that simply restarting mail_room doesn't fix. But it's possible we would not want those errors on delivery to stop fetching, or to mark messages as SEEN.

When using UNSEEN as the search command, it's impossible to have transactional mail because Google handles marking as SEEN. Whereas NEW/DELETED are controlled by mail-room after delivery.

[2016-06-17 19:21] tpitale opened #76 "Structured logging of message fetching and delivery"
It may be valuable to know that messages are being fetched/processed/delivered to a remote location in a structured log. Still undecided on this. If using que/sidekiq new jobs will be processed; if using logger all messages are already logged. Only in a remote delivery case (callbacks) would it be especially hard to know if new messages were being fetched/delivered without a log if the remote serv

[2016-06-17 19:41] tpitale commented on #76
This also makes me think about other instrumentation like timing and stats into influxdb or something.

With structured logs we could consume the log and send stats as a distinct process. Or ship the right off to log processing tools to be analyzed.

[2016-06-20 04:20] godfat commented on #61
I could confirm that https://github.com/godfat/mail_room/pull/2 does fix the issue, and now I am going to try https://github.com/tpitale/mail_room/pull/73

[2016-06-21 15:42] tpitale commented on #61
Just released v0.8.0.

[2016-06-21 16:40] godfat commented on #61
I believe this should be fixed by #73

[2016-06-22 23:45] brodock commented on #55
@tpitale I will need that. We are working into getting Redis Sentinel working with GitLab and its dependencies so me or someone from the Team will make a PR soon :-)

If you are curious about, see: https://gitlab.com/gitlab-org/gitlab-ee/issues/77

[2016-06-23 09:08] tpitale commented on #55
The changes can be made in

* https://github.com/tpitale/mail_room/blob/master/lib/mail_room/arbitration/redis.rb#L6-L13
* https://github.com/tpitale/mail_room/blob/master/lib/mail_room/delivery/sidekiq.rb#L11-L20

I'd like to, if possible, keep the existing keys working for the time being.

[2016-08-21 16:35] galet opened #77 "Possible race condition in mailbox_watcher.rb quit method - undefined method `join' for nil:NilClass"
In our GitLab deployment we are running into the following error:

[code]

It seems to be caused by some kind of race condition.

Original issue: https://gitlab.com/gitlab-org/gitlab-ce/issues/20273

[2016-08-31 17:32] marceldegraaf commented on #77
@tpitale this is breaking Gitlab CE currently when using IMAP to fetch email. Can you push a release so it can be included in the next Gitlab release? Thanks!

[2016-08-31 17:49] tpitale commented on #77
Just released v0.8.1 https://rubygems.org/gems/mail_room/versions/0.8.1

[2016-08-31 17:49] #77 closed

[2016-10-20 05:18] brodock commented on #55
@tpitale I've sent a PR for the sentinel support: #79
Sentinel can be a lot trickier to get right (I've tried to summarize the important parts in the Pull Request) but if you have any issue or want to dig deeper, please check this documentation I'm working on: https://gitlab.com/gitlab-org/gitlab-ce/blob/1f3d8962dbc3429b19a8dea3375dcc4cc3b12f70/doc/administration/high_availability/redis.md#redis-s

[2016-10-25 03:03] #55 closed

[2017-10-03 08:29] madsheep commented on #61
Hi guys,
I know this is an old one but just wanted to point out that in ruby trunk we finally get Imap with proper timeout on socket when connecting to the server:

https://github.com/ruby/ruby/blob/trunk/lib/net/imap.rb#L1132

Just wanted to share good news in case you missed it :)

[2017-10-11 16:58] tpitale opened #81 "Update ruby version requirements, drop imap backport"
@DouweM What ruby versions does gitlab support? If I dropped support from mail_room prior to 2.3 would that be an issue?

[2017-10-12 07:28] DouweM commented on #81
@tpitale We support only 2.3.x right now, so that's fine!

[2018-08-09 08:47] nakilon-idwell commented on #61
@madsheep can you tell which minimal version of Ruby I need for `open_timeout`? Is it in Ruby 2.3?

[2018-08-30 05:34] Delagen opened #82 "Mailroom crash on lost connection to IMAP"
https://gitlab.com/gitlab-org/gitlab-ce/issues/50842
[code]

[2018-08-30 16:17] tpitale commented on #82
This is by design. There are many, many reasons for errors and some in ways that we can't really handle without missing mail or folks want different restart behaviors. MailRoom is intended to be managed and restarted by an external process like init/upstart/etc that is explicitly designed for this purpose.

[2018-08-30 16:18] tpitale commented on #82
From the gitlab issue:

[2018-08-30 16:25] tpitale commented on #82
I could make the language in this section more clear if that would be helpful: https://github.com/tpitale/mail_room#running-in-production

[2018-08-30 16:25] #82 closed

[2019-02-15 20:46] tpitale opened #83 "Add docs/support for ActionMailbox"
https://edgeguides.rubyonrails.org/action_mailbox_basics.html#sendgrid (for example)

* Add configuration to readme
* Forward mail to the rails url `https://example.com/rails/action_mailbox/{{service}}/inbound_emails`
* Figure out which format to use to submit
* Add any code module to use `mail_room` as an ingress configuration

[2019-02-15 20:47] tpitale commented on #83
Possible to use the Mailgun ingress? https://edgeguides.rubyonrails.org/action_mailbox_basics.html#mailgun

[2019-02-15 20:55] tpitale commented on #83
Check out ingress here: https://github.com/rails/rails/tree/master/actionmailbox. Appears to be any valid rfc822 message if we use the relay controller. Auth for relay (exim/qmail/postfix) is basic auth with username `actionmailbox` and password configured as per docs.

[2019-02-15 20:57] tpitale commented on #83
From rails docs, we only have to do the first 2 steps:

[code]

[2019-05-31 04:25] craigmiskell-gitlab opened #84 "Arbitration locking issue"
I think there's a problem with the redis arbitration locking, and we're seeing unread messages get stuck in our inbox as a result.

The 'lock' is taken in deliver? which is called during the search for UNSEEN messages (new_message_ids).  If something goes wrong during the actual message fetch, then the message will not be marked SEEN.  When a mail_room calls new_message_ids (the restarted one, or

[2019-05-31 04:33] craigmiskell-gitlab opened #85 "Need to call expunge() or close() sometime to delete messages"
I can't find anywhere that mail_room tells the IMAP server to actually delete messages flagged as DELETED; my understanding is that it would be by calling close() or expunge().  I can confirm that our gmail inbox has a large number (>200K) messages, nearly all marked DELETED but never actually expunged.

Am I missing something?

[2019-05-31 09:37] DouweM commented on #84
For reference, this is related to https://github.com/tpitale/mail_room/issues/46 and https://github.com/tpitale/mail_room/pull/49. Some related conversation (including a potential way forward) can also be found in https://gitlab.com/gitlab-org/gitlab-ce/issues/2870#note_4184125, where we discussed this from a GitLab perspective.

[2019-05-31 15:40] tpitale commented on #85
I don't think you're missing anything. It was probably a lack of knowledge (or library documentation) on my part when it was initially added.

[2019-05-31 15:40] tpitale commented on #85
PR welcome 😄

[2019-05-31 15:42] tpitale commented on #84
Open to PRs! I believe gitlab is the primary user of arbitration in Redis.

[2019-06-03 22:15] craigmiskell-gitlab commented on #84
Will work on a PR; pretty sure

from the end gitlab issue is the right way forward, but I'll run some tests to confirm.

[2019-06-03 22:15] craigmiskell-gitlab commented on #85
Will do :)

[2019-06-06 03:51] craigmiskell-gitlab commented on #84
TL;DR: it was the updating of the TTL at every INCR that was the problem, and SET with NX and an expiry solves that cleanly.  It's backwards compatible too (will stop updating the TTL, value will expire, and UNSEEN messages will then be processed).

[2019-09-19 05:36] cablett commented on #76
Hi @tpitale ! I started [a PR](https://github.com/tpitale/mail_room/pull/88) continuing @ZJvandeWeg 's [earlier work on structured logging](https://github.com/tpitale/mail_room/pull/66/files). What do you think?

[2019-09-26 01:20] #21 closed

[2019-09-26 02:55] tpitale commented on #85
@craigmiskell-gitlab Do you think `MailRoom` should be the one to expunge these? Maybe it should be a configuration setting (like we do with `delete_after_delivery`)?

Also, for my records, here is the docs for expunge: https://ruby-doc.com/stdlib/libdoc/net/imap/rdoc/Net/IMAP.html#method-i-expunge

[2019-09-26 03:02] craigmiskell-gitlab commented on #85
Sorry I hadn't come back to this since June, I have been prioritising other work.

Yes, I think MailRoom should be the one to do this; enabling by configuration is fine, but it's the best placed to be sure of doing it at the right time.

[2019-09-26 03:02] tpitale commented on #85
Thanks. I'll try to knock this out. I think I know how/where to do it.

[2019-09-26 03:26] tpitale commented on #75
Using a search for NEW, and `delete_after_delivery` should solve this problem.

[2019-09-26 03:26] #75 closed

[2019-09-26 03:30] #71 closed

[2019-09-26 03:50] #84 closed

[2019-09-26 04:02] #81 closed

[2019-09-26 04:16] #85 closed

[2019-09-26 04:18] tpitale commented on #44
Our use of `charlock_holmes` seems to resolve this. May make it optional.

[2019-09-26 04:18] #44 closed

[2019-09-26 04:20] tpitale commented on #51
Not sure this is necessary, closing.

[2019-09-26 04:20] #51 closed

[2019-09-26 04:26] tpitale commented on #28
Could just allow the `delivery_klass` as an option to the mailbox.

[2019-09-26 04:27] tpitale commented on #23
Merging with #83.

[2019-09-26 04:27] #23 closed

[2019-09-26 04:28] tpitale commented on #83
Previously was looking at https://robots.thoughtbot.com/griddler-is-better-than-ever

[2019-09-26 05:24] #28 closed

[2019-09-26 05:25] tpitale commented on #74
Should be included in #76.

[2019-09-26 05:25] #74 closed

[2019-09-26 05:25] tpitale commented on #52
Better to use ActionMailbox.

[2019-09-26 05:25] #52 closed

[2019-09-26 14:14] tpitale commented on #76
Resolved in #88.

[2019-09-26 14:15] #76 closed

[2019-09-26 14:17] #83 closed

[2019-09-26 14:22] tpitale commented on #72
This seems to have improved in newer versions of net/imap.

[2019-09-26 14:22] #72 closed

[2019-10-03 16:32] tpitale opened #97 "Allow log path to be configured to STDOUT/STDERR"
For structured logging, we may want to direct output to STDOUT/STDERR and not just a file path.

[2019-11-04 19:08] jtslear opened #99 "Add a Prometheus metrics endpoint"
Currently it's difficult to view the performance of the `mail_room` gem.  If the gem emitted metrics, we can start measuring performance and other relatable data in order to alert Engineers if things are going wrong.  This can also be useful as an endpoint could be utilized for monitoring the health of the service in general, whether it be a docker daemon or Kubernetes healthcheck.

Also consider

[2019-11-04 20:05] tpitale commented on #99
What do you mean by “performance”.

Output of stats to a log file was recently added to introspect certain behaviors. This may provide the information you’re looking for.

[2019-11-04 20:08] tpitale commented on #99
https://github.com/tpitale/mail_room/blob/master/README.md#logging

[2019-11-05 18:16] jtslear commented on #99
Performance meaning the functionality of mail_room in general.  Here is an initial proposal:

* count of unread emails
* count of read emails
* count of deleted emails
* count of expunged emails
* count of processed emails
* count of skipped emails due to arbitration

Labels for each of these would probably include some identifier so we know which inbox we were processing in cases where there may

[2019-11-05 19:20] tpitale commented on #99
For the purpose of alerting engineers, you could consume the json logs that were added. That should give you a decent amount of information, and perhaps let you aggregate and come up with the rate of processing.

[2019-11-05 19:22] tpitale commented on #99
I'm willing to consider adding the ability for mail_room to emit events (ala https://github.com/beam-telemetry/telemetry) internally. I would then be able to accept a PR to add the interface to something like prometheus.

I don't know that there will be events for all of the things you listed, I'll have to look more closely.

[2019-11-08 18:21] tpitale opened #100 "Investigate concurrent-ruby to encapsulate threaded behavior more safely."
The concurrent-ruby library appears to have reached a reasonable level of stability and is in use by a number of major ruby projects.

It may be worth investigating to see if it could be leveraged to improve the code around threaded behaviors in mail_room. It would be our only required dependency.

Areas that may be improved:

* coordinator
* mailbox_watcher
* connection (?)
* …

[2019-11-08 18:22] tpitale commented on #100
@DouweM Would you or someone else from GitLab like to weigh in on this?

[2019-11-12 09:10] DouweM commented on #100
@cablett Would you like to weigh in on this? :)

[2019-11-13 23:09] cablett commented on #100
I'll take a look at this later this week or early next week. Thank you for pinging me, I'd be delighted to be part of this conversation. ✨

[2019-11-13 23:49] tpitale commented on #100
I think my big question is: does adding this dependency make it distinctly harder for gitlab to use mail_room.

[2019-11-18 06:45] cablett commented on #100
Thank you for the clarification - this week got away on me. Do you have a timeline for this issue?

[2019-11-18 14:57] tpitale commented on #100
No timeline, it just dovetails with #99 and my plan to use concurrent-ruby for that. In the case of 99 it would be optional, but I think adding it to the main project might provide some good cleanup for the start of a post-1.0 release.

[2019-11-19 01:49] tpitale commented on #100
Looks like what I really want is the `Actor` which a part of their "edge" library. Until it moves into stable, I could use `Async` and get the `async` and `await` proxies. I might give that a spike just to see if it improves the code. If not, we can hold on this until `Actor` becomes available in stable.

[2019-11-21 15:26] tpitale commented on #100
I spiked out some changes, and while it let me maybe get rid of `Coordinator` and `MailboxWatcher`, I'm not really sure it would work. It was also much more difficult to test.

Fun experiment, but closing this for now.

[2019-11-21 15:26] #100 closed

[2020-01-07 20:39] pravi opened #102 "run tests against redis 4 - fails with TypeError: no implicit conversion of Symbol into Integer"
[code]

[2020-01-24 15:09] #97 closed

[2020-01-24 15:10] tpitale commented on #99
Related. I created this: https://github.com/tpitale/telemetry-ruby

[2020-01-24 15:14] tpitale commented on #102
Sentinel support in gems and testing abilities is not very good.

[2020-01-30 19:50] rmccown opened #104 "Pulling some config from environment vars"
Is it possible to have the mailroom.yml config file read from env vars?  We'd rather not have credentials and tokens in our source tree.

[2020-01-30 20:00] #104 closed

[2020-07-27 10:12] GoelJatin opened #113 "Support for OAuth"
Hi @tpitale ,

With Google making the announcement of removing the LSA option for accessing the email accounts and Microsoft having similar plans for it, can we start adding OAuth support to mail_room to ensure continued access to these email accounts without major changes.

I'm not a Ruby expert but would love to collaborate and help on this.

Useful links:

[1] - https://gsuiteupdates.googleblog

[2020-07-27 18:23] tpitale commented on #113
It's possible, but oauth is such a huge pain to support that we might only be able to do like an oauth service account or something. There's no UI to redirect to, etc etc.

[2020-07-28 07:38] GoelJatin commented on #113
I understand, my thoughts were for end-user accounts where we let the application developer handle the OAuth app configuration and redirects b/w the ID Provider (Google / Microsoft) and mail_room then starts the communication from the authorization_code received from the first exchange.

Basically it means the user app handles the first step of communication, mail_room has access to the OAuth app'

[2020-07-28 13:31] tpitale commented on #113
MailRoom is generally meant to run as a standalone, pre-configured process. So the scenario you described is not a use-case I'm familiar with users using MailRoom. I don't know that MailRoom runs well, or at all, in the way you described. I don't recall that it can receive configuration changes after it has started (but I've not reviewed the code in some time). MailRoom is not meant to run and lis

[2020-07-28 13:31] tpitale commented on #113
https://github.com/googleapis/google-api-ruby-client/blob/master/docs/oauth-server.md

[2020-10-19 13:42] GoelJatin commented on #113
Hey @tpitale , been a long time since I last followed up on this, yes service account is the right option for the `mail_room` gem. Do we have any timeline on adding this support?

[2020-10-19 13:47] tpitale commented on #113
PRs welcome.

[2020-10-19 13:49] GoelJatin commented on #113
Yes, even I wish to contribute, but haven't got a chance to work on this so far. So just checking up if this is something already in your to-do list.

[2020-10-19 14:05] tpitale commented on #113
Issues are my to-do list. But I'm just not doing a ton of OSS work, right now. If I have some time, I'm sure I'll take a look. I just don't.

[2021-02-15 22:07] stanhu commented on #113
https://gitlab.com/gitlab-org/gitlab-mail_room/-/merge_requests/15 has support for GMail and Microsoft OAuth2. We will upstream it as soon as we can.

Service accounts cannot be used. Gmail requires a service account to have *full* access to everyone account in the Google Apps domain. Microsoft has something similar.

[2021-03-02 07:57] stanhu commented on #113
It turns out refresh tokens will definitely expire, so service accounts should be used with Microsoft. Also, Microsoft does have the ability to restrict access to a single mailbox. https://gitlab.com/gitlab-org/gitlab-mail_room/-/merge_requests/18 generally works, though it requires more testing and documentation. #115 is the first step to supporting the Microsoft Graph API with OAuth2.

[2021-03-23 15:12] bjfish opened #124 "Enable "Build pushed branches" in Travis CI"
Could you please enable "Build pushed branches" in Travis CI?
https://docs.travis-ci.com/user/web-ui/#build-pushed-branches

We would like to track build status for the `master` branch which currently does not have any builds:
https://travis-ci.org/github/tpitale/mail_room/branches

[2021-03-23 15:16] tpitale commented on #124
What do you mean it doesn't have any builds? https://travis-ci.org/github/tpitale/mail_room/builds/137787785 That's a build of the master branch. It doesn't have any _actively_ running right now because no changes have been merged recently …? `master` is the default branch, which always builds.

[2021-03-23 15:26] bjfish commented on #124
@tpitale The build linked to ( https://travis-ci.org/github/tpitale/mail_room/builds/137787785 )  is from 5 years ago, the most recent merge was just 6 days ago: https://github.com/tpitale/mail_room/commits/master

You can see in the commit history all of the CI statuses appear on the PR branches but none on the merge commit (in master):
https://github.com/tpitale/mail_room/commits/master

Here is

[2021-03-23 15:33] tpitale commented on #124
Oh, I see it building PRs. My mistake. Strange default behavior 🤔

[2021-03-23 15:34] tpitale commented on #124
Enabled.

<img width="528" alt="Screen Shot 2021-03-23 at 10 34 08 AM" src="https://user-images.githubusercontent.com/163/112173202-5b34c280-8bc3-11eb-8676-839e95d12307.png">

[2021-03-23 15:34] #124 closed, assigned to nobody

[2021-03-30 03:57] stanhu commented on #113
https://github.com/tpitale/mail_room/pull/125 added support for OAuth2 and Microsoft Graph API. https://docs.microsoft.com/en-us/graph/auth-limit-mailbox-access can be used to restrict access to a specific mailbox.

As I mentioned above, Google requires a service account to have full authority to read/write in all users' mailbox (https://developers.google.com/identity/protocols/oauth2/service-acco

[2021-06-06 13:06] ahmadabdelhalim opened #129 "certificate verify failed"
I keep getting "certificate verify failed (OpenSSL::SSL::SSLError)" when I use the command `mail_room -c config/mailroom.yml`
and I don't understand why exactly, any help?

[2021-06-07 17:49] tpitale commented on #129
Sounds like the certificates on the machine you're running `mail_room` on does not have them properly configured. Please look up how to configure certificates on the machine. That error is fairly common in the Ruby world.

You can also disable SSL verification, but I would advise against it. (Section about `verify_mode` in https://github.com/tpitale/mail_room#imap-server-configuration)

[2021-06-07 17:49] #129 closed

[2022-03-14 17:22] smccutchen opened #139 "Support Azure Government tenants with Microsoft Graph"
Hey there.  I'm trying to get GitLab incoming email working via Microsoft Graph, where my Azure tenant is in the government "GCC High" cloud.

The main difference between Azure government versus public clouds would be the primary endpoint URL.  Instead of say, "[graph.microsoft.com](https://graph.microsoft.com/)", government cloud tenants use "[graph.microsoft.us](https://graph.microsoft.us/)"

Wh

[2022-03-14 20:57] stanhu commented on #139
Not yet.

My trial Azure government tenant has expired. Would you be able to test out https://github.com/tpitale/mail_room/pull/140?

[2022-03-14 21:16] smccutchen commented on #139
I can confirm that it's fully functional once I manually modify the "connection.rb" file to use the correct endpoint URLs for GCC High - in my case it's "graph.microsoft.us" and "login.microsoftonline.us" .

(_As an FYI, these URLs change again if you use another regional Azure environment, like Germany or China_).

[2022-03-14 21:34] stanhu commented on #139
Yeah, you'd need to replace `connection.rb` with that file and then manually edit `/opt/gitlab/embedded/service/gitlab-rails/config/mail_room.yml` with those options.

I'll see if I can get Microsoft to reactivate my Microsoft Government Cloud account in the interim.

[2022-03-15 06:32] #139 closed

[2022-03-22 22:29] stanhu commented on #139
@smccutchen GitLab 14.9 shipped with the updated MailRoom that has the `graph_endpoint` and `azure_ad_endpoint` config options. Would you mind testing whether the documentation in https://gitlab.com/gitlab-org/gitlab/-/merge_requests/83242/diffs is correct?

[2022-03-24 18:56] smccutchen commented on #139
I can confirm the config options available in 14.9 are working as expected.

Thanks for the fast effort!

[2022-05-02 16:44] clairton opened #142 "Console Log"
Hi

I try a postback delivery_method, with this config to show log in stdout with version 0.10.0 and ruby 3.1.2p2:

[code]
But I Have this error:

[code]

If I fill de `log_path` with `STDOUT` it works, but puts the log at stdout file

Anyone can me help?

[2022-05-02 16:47] tpitale commented on #142
This was added in v0.10.1 I think: https://github.com/tpitale/mail_room/commit/46f9ce3188a38dfd1cf6ac2590555f5b0e579ddf

[2022-05-02 16:47] #142 closed

[2022-05-02 17:07] clairton commented on #142
Thank's for answered @tpitale but the logs puts in file STDOUT with this way =(

[2022-05-02 17:10] tpitale commented on #142
You said you were using 0.10.0. That was before STDOUT was supported.

[2022-11-30 22:24] cablett opened #146 "Noisily fail when JWT can't be encoded"
Hi @tpitale !

When delivery method is postback, we found there's a hidden failure if a mailbox's JWT `secret_file` config isn't set up properly, and I think it might be better if there's a bit more noise about that in the logs.

There are two failure modes here for the `secret_file` key value pair:
1. If the key and value are present in the config, but the file in the value is not readable (for e

[2022-11-30 22:26] cablett commented on #146
cc @stanhu @nguyenquangminh0711 if you have any thoughts here too :+1:

[2022-11-30 22:27] tpitale commented on #146
I may have been elixir-land too long, but I feel like MailRoom's approach is (or should be) "let it fail". I'm happy to let everything crash with an error if the message isn't there. _maybe_? I could be completely forgetting, it's been so long.